{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'mi_aplicacion/css/nosotros.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'mi_aplicacion/img/LOGO1.jpg' %}" alt="">
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'servtect' %}">Servicio Técnico</a>
            <a href="{% url 'about' %}" class="active">Sobre Nosotros</a>
            <a href="{% url 'products' %}">Tecnología</a>
            <a href="{% url 'others' %}">Otros</a>
        </nav>
    </header>

    <div class="info">
        <div class="info-container">
            <h2>Sobre Nosotros</h2>
            <p>Somos una empresa apasionada por la tecnología y comprometida con brindar soluciones innovadoras a nuestros clientes.</p> 
                <br>
            <p>En Lorem Ipsum Store, nos dedicamos a ofrecer productos tecnológicos de vanguardia y servicios de reparación de alta calidad.</p>
        </div>
    </div>
    <section class="contenedor sobre-nosotros">
        <div class="contenedor-sobre-nosotros">
            <img src="{% static 'mi_aplicacion/img/servicio-imagen.jpg' %}" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3>¿Por que elegirnos?</h3>
                <p>Nuestra historia se basa en una profunda pasión por la innovación y un compromiso inquebrantable con la satisfacción del cliente. Desde nuestros humildes comienzos, hemos crecido y evolucionado para convertirnos en líderes en el campo de las ventas tecnológicas y los servicios de reparación.

                    En Lorem Ipsum Store, creemos en la importancia de ofrecer productos y servicios que marquen la diferencia en la vida de las personas. Trabajamos incansablemente para proporcionar soluciones tecnológicas de alta calidad y un servicio de reparación confiable, respaldado por un equipo de expertos apasionados por la tecnología. 

                    </p>
            </div> 
        </div>    
    </section> 
    
    <section class="container sobre-nosotros">
      <div class="container-about-us">
        <img src="{% static 'mi_aplicacion/img/servicio-imagen.jpg' %}" alt="" class="imagen-us">
        <div class="container-text">
            <h4>¿Que te ofrecemos?</h4>
            <p> nuestra página tiene una misión clara y sencilla: brindarte una experiencia tecnológica completa y sin complicaciones. Creemos que la tecnología debería enriquecer tu vida y facilitar tus actividades diarias. Aquí es donde entramos en juego.

                Nuestra función principal es ser tu socio de confianza en el mundo de la tecnología. Ofrecemos una plataforma donde puedes explorar y adquirir una amplia gama de productos tecnológicos de alta calidad que se adaptan a tus necesidades. Desde dispositivos móviles, computadoras portátiles y accesorios, hasta dispositivos inteligentes para el hogar, encontrarás todo lo que necesitas para estar conectado y productivo.

                </p>
        </div>
    </section>  
    <hr>
    <hr>  
    <section>
        <div class="post-list">
            <div class="content">
                <article class="post">
                    <div class="post-header">
                        <div class="post-img-1"></div>
                    </div>
                    <div class="post-body">
                        <h4>Diego</h4>
                        <p>Descubre una variedad de productos tecnológicos de alta calidad que harán tu vida más fácil y emocionante. Desde dispositivos electrónicos de vanguardia hasta accesorios útiles, tienen todo lo que necesitas. El servicio técnico es muy rápido y mi equipo quedó funcionando a la perfección. Muy agradecido!!!</p>
                    </div>
                </article>
                <article class="post">
                    <div class="post-header">
                        <div class="post-img-2"></div>
                    </div>
                    <div class="post-body">
                        <h4>Miriam</h4>
                        <p>Como cliente, quedé impresionada por la amplia gama de productos tecnológicos que esta tienda ofrece. Desde smartphones de última generación hasta accesorios útiles, siempre encuentro lo que necesito para satisfacer mis necesidades tecnológicas.</p>
                    </div>
                </article>
                <article class="post">
                    <div class="post-header">
                        <div class="post-img-3"></div>
                    </div>
                    <div class="post-body">
                        <h4>Daniel</h4>
                        <p>Como consumidor fiel, siempre elijo esta tienda por su increíble selección de productos tecnológicos. No solo tienen los gadgets más nuevos, sino que también brindan un servicio de reparación confiable. Saber que puedo obtener todo lo que necesito y contar con soporte técnico cuando lo requiero, hace que esta tienda sea mi opción preferida.</p>
                    </div>
                </article>
            </div>
        </div>
      </div>
    </section>

    <section class="contenedor-agradecimiento">
        <div class="contenido">
            <h5>Un mensaje para ustedes</h5>
            <p class="texto">En este viaje que es Lorem Ipsum Store, no podemos dejar de mirar atrás y reflexionar sobre lo lejos que hemos llegado, y es gracias a ustedes, nuestros apreciados clientes, que hemos alcanzado este punto. Queremos dedicar un momento para expresar nuestra profunda gratitud por su continuo apoyo y confianza en nuestros productos y servicios.

                Cada día, trabajamos incansablemente para ofrecerles lo mejor en tecnología y servicios de reparación. Sabemos que tienen muchas opciones disponibles, y estamos honrados de que hayan elegido Lorem Ipsum Store para satisfacer sus necesidades tecnológicas.
                
                Su confianza en nosotros es la fuerza impulsora detrás de nuestro compromiso de mejorar constantemente y superar sus expectativas. Estamos dedicados a brindarles soluciones innovadoras y de alta calidad que simplifiquen sus vidas y mejoren su experiencia tecnológica.
                
                Nuestra relación con ustedes va más allá de ser simples clientes; son parte de la familia Lorem Ipsum Store. Su retroalimentación y sugerencias nos ayudan a crecer y a evolucionar, y por eso les damos las gracias. Seguiremos trabajando incansablemente para mantenernos a la vanguardia de la tecnología y ofrecerles un servicio excepcional.
                
                Nada de esto sería posible sin su apoyo continuo, y estamos emocionados por lo que el futuro nos depara juntos. En Lorem Ipsum Store, siempre serán nuestra razón de ser y nuestra fuente de inspiración.
                
                Gracias por ser parte de nuestra historia y por permitirnos ser parte de la suya. Estamos ansiosos por continuar sirviéndoles y haciendo que su viaje tecnológico sea excepcional.
                
                Con gratitud y aprecio sinceros.</p>
        </div>
    </section>

    <section class="contenedor-tienda">
        <div class="contenedor-tienda-puntos">
            <img src="{% static 'mi_aplicacion/img/tienda-imagen.jpg' %}" alt="">
            <div class="texto-contenido">
                <h4>Tienda por puntos</h4>
                <p>En nuestro sistema de compras, cada vez que realizas una compra, ganas valiosos puntos que se acumulan en tu cuenta. Estos puntos son como moneda de recompensa que puedes utilizar en nuestra exclusiva tienda de premios y beneficios. ¡Únete a nosotros y descubre cómo nuestras compras te brindan no solo productos y servicios de alta calidad, sino también increíbles ventajas adicionales a través de nuestro sistema de puntos!</p>
                 <a href="#" class="tienda-link">Proximamente...</a>
            </div> 
        </div>    
    </section> 
            
    <footer>
        <div class="contacto">
            <p>📞 +54 9 11 1234 4567</p>
            <p>✉️ hola@loremipsum.com</p>
            <p>🔋 Bs.As, Argentina</p>
        </div>
      
        <div class="redes-sociales">
            <h2>NUESTRAS REDES SOCIALES</h2>
            <a href="#"><img src="{% static 'mi_aplicacion/img/facebook.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'mi_aplicacion/img/twitter.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'mi_aplicacion/img/whatsapp.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'mi_aplicacion/img/linkedin.png' %}" alt=""></a>
        </div>
    
        <div class="correo">
            <h2>CONTACTO</h2>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Your Email">
                <button>Enviar</button>
            </form>
        </div>
        <p>&copy; Lorem Ipsum Shop</p>
    </footer>  

</body>
</html>
