{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mi_aplicacion/css/productos.css' %}">
    <title>Lorem Ipsum Store</title>
</head>

<body>

    <header>
        <img src="{% static 'mi_aplicacion/img/LOGO1.jpg' %}" alt="">
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'servtect' %}">Servicio Técnico</a>
            <a href="{% url 'about' %}">Sobre Nosotros</a>
            <a href="{% url 'products' %}">Tecnología</a>
            <a href="{% url 'others' %}"  class="active">Otros</a>
        </nav>
    </header>

    <main>

        <aside>
            <img src="{% static 'mi_aplicacion/img/aside.png' %}" alt="">
        </aside>

        <section class="info-principal">
            <h1>Varios</h1>
            <div class="productos">

                <div class="producto">
                    <img src="{% static 'mi_aplicacion/img/taza1.jpeg' %}" alt="">
                    <div class="text">
                        <h2>Increíble taza de cerámica. Hecha a mano con impresión full color en serigrafía. 350mL Ideal para tu café mientras pasas largas horas programando</h2>
                        <p class="rate">Rate: 4/5</p>
                        <p class="precio">12<span>$</span> </p>
                        <p class="envio">envío gratis</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="{% static 'mi_aplicacion/img/gorra3.jpeg' %}" alt="">
                    <div class="text">
                        <h2>Gorra tipo trucker con malla Regulable en talle Malla transpirable Impresión de alta calidad y colores brillantes</h2>
                        <p class="rate">Rate: 4/5</p>
                        <p class="precio">19<span>$</span> <del>1200$</del> </p>
                        <p class="envio">envío gratis</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="{% static 'mi_aplicacion/img/remera1.jpeg' %}" alt="">
                    <div class="text">
                        <h2>Remera oversize. 100% algodón. Estampa premium. Talles S-M-L-XL</h2>
                        <p class="rate">Rate: 4/5</p>
                        <p class="precio">26<span>$</span> </p>
                        <p class="envio">envío gratis</p>
                    </div>
                </div>
                
            </div>
        </section>

    </main>

</body>

</html>
